<div class="container my-5">
<div class="container my-5">
  <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/getbootstrap/" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/code?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/explore/tags/bootstrap/?hl=es" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" target="_blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
        <h7>ADIOS</h7>
        <hr>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
  
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Hector Ubillus © {{anio}} Copyright
  </div>
  <!-- Copyright -->
   <script src="https://kit.fontawesome.com/cb86ebac86.js" crossorigin="anonymous"></script>
</footer>

